{{- if (lookPath "sfw") -}}
function npm --describe 'wrap npm install with sfw'
    if test (count $argv) -ge 1; and test $argv[1] = "install"
        sfw npm $argv
    else
        command npm $argv
    end
end
{{- end -}}
