{{- if (lookPath "sfw") -}}
function npm --description 'wrap npm install or update with sfw'
    if test (count $argv) -ge 1
        if test $argv[1] = "install" -o $argv[1] = "update"
            sfw npm $argv
        else
            command npm $argv
        end
    else
        command npm
    end
end
{{- end -}}
