{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
{{ if eq .chezmoi.username "root" -}}
# Install Fish if it is not already installed
# Ref: https://software.opensuse.org/download.html?project=shells%3Afish%3Arelease%3A3&package=fish
if [ ! -f /usr/bin/fish ]; then
   echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/4/Debian_13/ /' | sudo tee /etc/apt/sources.list.d/shells:fish:release:4.list
   curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:4/Debian_13/Release.key | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/shells_fish_release_4.gpg > /dev/null
   apt update; apt install fish -y
fi

# Install jq if it is not already installed
if ! command -v jq > /dev/null 2>&1; then
    apt update; apt install jq -y
fi

# Install git if it is not already installed
if ! command -v git > /dev/null 2>&1; then
    apt update; apt install git -y
fi

{{ end -}}
{{ end -}}
