{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
{{ if eq .chezmoi.username "root" -}}
# Install Fish if it is not already installed
if [ ! -f /etc/apt/sources.list.d/shells:fish:release:3.list ]; then
    echo 'deb http://download.opensuse.org/repositories/shells:/fish:/release:/3/Debian_12/ /' | tee /etc/apt/sources.list.d/shells:fish:release:3.list
    curl -fsSL https://download.opensuse.org/repositories/shells:fish:release:3/Debian_12/Release.key | gpg --dearmor | tee /etc/apt/trusted.gpg.d/shells_fish_release_3.gpg > /dev/null
    apt update; apt install fish -y
fi
{{ end -}}
{{ end -}}
