Plug 'dense-analysis/ale'

"Plugin Settings
let g:ale_warn_about_trailing_whitespace = 0  " Disable whitespace warnings
let g:ale_echo_msg_error_str = 'E'
let g:ale_echo_msg_warning_str = 'W'
let g:ale_echo_msg_format = '[%linter%] %s [%severity%]'
let g:ale_completion_enabled = 1
{{- if eq .chezmoi.os "darwin" }}
let g:ale_linters={ "python": ["ruff", "bandit"] }
let g:ale_fixers = {
\   'python': ['ruff'],
\   'fish': ['fish_indent'],
\   'javascript': ['prettier'],
\   'css': ['prettier'],
\ }
{{ else }}
let g:ale_linters={ "python": ["pylint", "bandit"] }
let g:ale_fixers = {
\   'python': ['isort', 'pylint'],
\   'fish': ['fish_indent'],
\ }
let g:ale_python_pylint_use_global = 1
let g:ale_python_pylint_options = '--disable=E0401'
{{ end -}}
let g:ale_fix_on_save = 1
let g:ale_lint_on_save = 1
let g:ale_pattern_options = { '\.env$': {'ale_enabled': 0} }

" Check if a file has a Fish shebang and map it to the 'fish' filetype:
augroup ale_ignore_fish
    autocmd!
    " Map files ending in .sh with Fish shebang to the fish filetype
    autocmd BufRead,BufNewFile *.sh if getline(1) =~ '^#!/usr/bin/env fish' | set filetype=fish | endif
augroup END

" Disable shellcheck for fish files
let g:ale_disable_linter = {'fish': ['shellcheck']}
