Plug 'dense-analysis/ale'

"Plugin Settings
let g:ale_warn_about_trailing_whitespace = 0  " Disable whitespace warnings
let g:ale_echo_msg_error_str = 'E'
let g:ale_echo_msg_warning_str = 'W'
let g:ale_echo_msg_format = '[%linter%] %s [%severity%]'
let g:ale_completion_enabled = 1
{{- if eq .chezmoi.os "darwin" }}
let g:ale_linters={ "python": ["ruff"] }
let g:ale_fixers={ "python": ["ruff"] }
{{ else }}
let g:ale_linters={ "python": ["pylint"] }
let g:ale_fixers={ "python": ["isort", "pylint"] }
let g:ale_python_pylint_use_global = 1
let g:ale_python_pylint_options = '--disable=E0401'
{{ end -}}
let g:ale_fix_on_save = 1
let g:ale_lint_on_save = 1
let g:ale_pattern_options = {
\   '\.env$': {'ale_enabled': 0}
\ }

