Plug 'neoclide/coc.nvim', {'branch': 'release'}

" Autoformat Go on save
autocmd BufWritePre *.go :call CocAction('format')

" Autoformat Fish on save
autocmd BufWritePre *.fish silent! %!fish_indent

" Detect Bash files by shebang
autocmd BufRead,BufNewFile * if getline(1) =~# '^#!.*\<\(bash\|sh\)\>' | set filetype=sh | endif

" Autosort Python Imports
autocmd BufWritePre *.py :CocCommand python.sortImports

" Autoformat CSS/SCSS on save using Prettier
autocmd BufWritePre *.css,*.scss,*.sass :CocCommand prettier.formatFile

" Completion options
set completeopt=menuone

let g:coc_global_extensions = [
{{- if lookPath "php" }}
\ '@yaegassy/coc-intelephense',
{{- end }}
{{- if lookPath "go" }}
\ 'coc-go',
{{- end }}
{{- if lookPath "node" }}
\ 'coc-prettier',
{{- end }}
{{- if lookPath "python3" }}
\ 'coc-pyright',
{{- end }}
{{- if lookPath "rustc" }}
\ 'coc-rust-analyzer',
{{- end }}
{{- if lookPath "node" }}
\ 'coc-tsserver',
{{- end }}
\ 'coc-html',
\ 'coc-sh'
\ ]
