###### Common to all ######

#XDG
export XDG_CACHE_HOME="$HOME"/.cache
export XDG_CONFIG_HOME="$HOME"/.config
export XDG_DATA_HOME="$HOME"/.local/share
export XDG_STATE_HOME="$HOME"/.local/state

#Meta
export EDITOR=vim
export HISTTIMEFORMAT="%d/%m/%y %T "
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
{{- if eq .chezmoi.os "darwin" }}
export __CF_USER_TEXT_ENCODING=0x0:0:0
{{- end }}

#Less
export LESSHISTFILE="$XDG_CONFIG_HOME"/.lesshst

#man
export GROFF_NO_SGR=1
export MANPAGER='/usr/bin/less -g -s -M +Gg'

#Rust
export CARGO_HOME="$XDG_CONFIG_HOME"/rust/.cargo
export RUSTUP_HOME="$XDG_CONFIG_HOME"/rust/rustup

#.sh_history (fix)
export HISTFILE="$XDG_CONFIG_HOME"/.sh_history

#ZSH
export ZDOTDIR="$XDG_CONFIG_HOME"/zsh

{{- if lookPath "brew" }}
#Homebrew
#Stop Homebrew connections from downgrading to http
export HOMEBREW_NO_INSECURE_REDIRECT=1
#Change the beer mug
export HOMEBREW_INSTALL_BADGE="🦄"
#Require sha hashes for casks
export HOMEBREW_CASK_OPTS=--require-sha
#No more hints
export HOMEBREW_NO_ENV_HINTS=1
#Enable download concurrency (4.6.0+)
export HOMEBREW_DOWNLOAD_CONCURRENCY=auto
{{- if eq .chezmoi.hostname "neptune" }}
#4.3 Attestation Enabled
export HOMEBREW_VERIFY_ATTESTATIONS=1
{{- end }}
#Remove unused deps on remove/uninstall
#Below is now the default: HOMEBREW_NO_AUTOREMOVE=1 will disable this default.
#export HOMEBREW_AUTOREMOVE=1
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
###### Mac-only ######
#GO
export GOPATH=$HOME/.local/go
export GOROOT=/usr/local/go
export GOTELEMETRY=off
export GOTOOLCHAIN=local
export GO111MODULE=on

#inputrc
export INPUTRC="$XDG_CONFIG_HOME"/readline/inputrc

#Node
export NODE_REPL_HISTORY="$XDG_CONFIG_HOME"/node/.node_repl_history
export NPM_CONFIG_CACHE="$XDG_CONFIG_HOME"/npm
export NODE_COMPILE_CACHE="$XDG_CACHE_HOME"/node-cache
export YARN_ENABLE_SCRIPTS=false
export YARN_ENABLE_TELEMETRY=0
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc

#oh-my-zsh
export ZSH="$XDG_DATA_HOME"/oh-my-zsh

#Python
export IPYTHONDIR="$XDG_CONFIG_HOME"/ipython
export JUPYTER_CONFIG_DIR="$XDG_CONFIG_HOME"/jupyter
export MPLCONFIGDIR="$XDG_CONFIG_HOME"/matplotlib
export NLTK_DATA="$XDG_CONFIG_HOME"/python/nltk_data
export PIP_CONFIG_HOME="$XDG_CONFIG_HOME"/.pip/pip.conf
{{- if lookPath "pipx" }}
export PIPX_DEFAULT_PYTHON=/usr/local/bin/python3
export PIPX_HOME="$HOME"/.local/pipx/
{{ end }}
export PLOTLY_DIR="$XDG_CONFIG_HOME"/plotly
export POETRY_HOME="$XDG_CONFIG_HOME"/python/poetry
export PYENV_ROOT="$XDG_CONFIG_HOME"/pyenv
export PYLINTHOME="$XDG_CONFIG_HOME"/python/.pylint.d
export PYLINTRC="$XDG_CONFIG_HOME"/python/.pylintrc
export PYTHONSTARTUP="$XDG_CONFIG_HOME"/python/.pythonrc
export RUFF_CACHE_DIR="$XDG_CACHE_HOME"/ruff-cache
export UV_LINK_MODE=copy

#SSH
export SSH_AUTH_SOCK="$HOME"/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{- end }}

#sqlite
export SQLITE_HISTORY="$XDG_CONFIG_HOME"/.sqlite_history
{{ if lookPath "sqlmap" }}
#Sqlmap
export SQLMAP_OUTPUT_PATH="$XDG_CONFIG_HOME"/sqlmap
{{ end }}
#virtualenvs
export WORKON_HOME="$XDG_DATA_HOME"/virtualenvs

{{- if eq .chezmoi.hostname "neptune" }}
###### Specific to Personal Machine #######

#Bat
export BAT_THEME="Dracula"

#dvdcss
export DVDCSS_CACHE=$HOME/.local/dvdcss

#Java
export JAVA_TOOL_OPTIONS="-Doracle.net.disableOob=true"

#linode
source "$XDG_CONFIG_HOME"/op/plugins.sh

#Ruby
export GEM_HOME="$HOME"/.local/gem
export IRBRC="$XDG_CONFIG_HOME"/irb/irbrc
export BUNDLE_PATH="$HOME"/.local/bundle
export BUNDLE_USER_CONFIG="$XDG_CONFIG_HOME"/bundle/config
export BUNDLE_USER_CACHE="$XDG_CONFIG_HOME"/bundle
export BUNDLE_USER_PLUGIN="$XDG_CONFIG_HOME"/bundle
export RBENV_ROOT="$XDG_CONFIG_HOME"/.rbenv
{{- end }}

###### Infrequently Encountered Things ######
{{- if eq .chezmoi.hostname "minerva" }}
###### Specific to Rasp Pi Server ######
#Colorterm
export COLORTERM=truecolor
{{- end }}

{{- if lookPath "conan" -}}
#conan
export CONAN_USER_HOME="$XDG_DATA_HOME"/conan
{{ end }}
{{- if lookPath "gpg2" }}
#GNUPG
export GNUPGHOME="$XDG_DATA_HOME"/gnupg
{{ end }}
{{- if lookPath "parallel" }}
#parallel
export PARALLEL_HOME="$XDG_CONFIG_HOME"/parallel
{{ end }}
{{- if lookPath "pwsh" }}
#Powershell
export POWERSHELL_TELEMETRY_OPTOUT=1
{{- end }}
{{- if lookPath "rdap" }}
export RDAP_OUTPUT=rendered-markdown
export RDAP_PAGING=embedded
{{- end }}
